<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
		<title>four col</title>
		<link rel="stylesheet" href="style/main.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<nav id="navigation">
			<a href="#menu">Menu</a>
			<a href="#game">Game</a>
			<a href="#leaderboard">Leader Board</a>
			<a href="#settings">Settings</a>
		</nav>
		<main id="app">
			<div class="page-view" id="menu-view">
				<h1>Menu</h1>
				<button class="menu-btn">Play</button>
				<button class="menu-btn">Leaderboard</button>
				<button class="menu-btn">setting</button>
				<div id="recent-leaderboard">
					My most recent project is <a href="#" id="recent-leaderboard-name"></a>
				</div>
				<div id="current-position">
					My current position is <span id="current-position-name"></span>
				</div>
			</div>
			<div class="page-view" id="game-view">
				<h1>Tetris Game</h1>
				<div class="game-box">

				</div>
			</div>
			<div class="page-view" id="leaderboard-view">
				<h1>Leaderboard</h1>
			</div>

			<div class="page-view" id="settings-view">
				<h1>Settings</h1>
			</div>
		</main>


		<!-- This is my template -->
		<script type="text/html" id="leaderboard-template">
			<div class="project">
				<h3>
					<a href="<%= url %>"><%= name %></a>
				</h3>
				<p><%= description %></p>
			</div>
		</script>

		<!-- These are my library files -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/underscore/underscore-min.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>

		<!-- These are my scripts -->

		<script src="scripts/models/mymodel.js"></script>

		<script src="scripts/collection/mycollection.js"></script>

		<script src="scripts/views/individualProjectView.js"></script>
		<script src="scripts/views/menuView.js"></script>
		<script src="scripts/views/gameView.js"></script>
		<script src="scripts/views/leaderboardView.js"></script>
		<script src="scripts/views/settingsView.js"></script>
		<script src="scripts/views/myview.js"></script>

		<script src="scripts/main.js"></script>
	</body>
</html>
